{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/flight_detail.css' %}">
    <script>
        function updateCheckboxes()
        {
            var checkboxes = document.getElementsByName("ticket_ids");
            var freeCountQuota = {{ free_count_quota }};
            var checkedCount = 0;
            var selectedCount = 0;
            for (var i = 0; i < checkboxes.length; i++)
            {
                if (checkboxes[i].checked && !checkboxes[i].disabled) {
                    selectedCount++;
                }
                if (checkboxes[i].checked && selectedCount <= freeCountQuota) {
                    checkedCount++;
                }
                if (checkboxes[i].disabled) {
                    checkboxes[i].checked = false;
                }
                else if (!checkboxes[i].checked && selectedCount >= freeCountQuota) {
                    checkboxes[i].disabled = true;
                }
            }
        }
</script>

{% endblock %}

{% block content %}
<h1>Рейс №{{ ticket.id_flight }} {{ country_source }} - {{ country_target }}</h1>
    <form method="POST">
        <table class="table">
            {% csrf_token %}
            <thead>
                <tr>
                    <th>Номер билета</th>
                    <th>Номер рейса</th>
                    <th>Номер посадочного места</th>
                    <th>Выбрать</th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.id_ticket }}</td>
                    <td>{{ ticket.id_flight }}</td>
                    <td>{{ ticket.seat_number }}</td>
                    {% if ticket.username %}
                    <td><input type="checkbox" name="ticket_ids" value="{{ ticket.id_ticket }}" disabled></td>
                    {% else %}
                    <td><input type="checkbox" name="ticket_ids" value="{{ ticket.id_ticket }}" onchange="updateCheckboxes()"></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Подтвердить</button>
    </form>
{% endblock %}
