{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/flight_list.css' %}">
{% endblock %}

{% block content_flight_list %}
    <body>
        <div class="container_flights">
            <h1>Список рейсов:</h1>
            <ul class="container_flights">
                {% if flights %}
                    <li class="container_flights">
                        <span>Номер рейса</span>
                        <span>Откуда</span>
                        <span>Куда</span>
                        <span>Самолет</span>
                        <span>Количество свободных мест</span>
                        <span>Время вылета</span>
                        <span>Время прилета</span>
                    </li>
                    {% for fly in flights %}
                        <form method="post" action="{% url 'flight_detail' fly.number_flight %}">
                            {% csrf_token %}
                            <li class="container_flights">
                                <span><button type="submit" name="flight_id" value="{{ fly.number_flight }}">
                                    {{ fly.number_flight }}
                                </button></span>
                                <input type="hidden" name="country_source" value="{{ fly.country_source }}">
                                <input type="hidden" name="country_target" value="{{ fly.country_target }}">
                                <span>{{ fly.country_source }}</span>
                                <span>{{ fly.country_target }}</span>
                                <span>{{ fly.air_name }}</span>
                                <span>{{ fly.count_free_tickets }}</span>
                                <span>{{ fly.departure_time|date:'Y-m-d' }} {{ fly.departure_time|time:'H:i' }}</span>
                                <span>{{ fly.arrival_time|date:'Y-m-d' }} {{ fly.arrival_time|time:'H:i' }}</span>
                            </li>
                        </form>
                    {% endfor %}
                {% else %}
                    <li>Список самолетов пуст.</li>
                {% endif %}
            </ul>
        </div>
    </body>
{% endblock %}
