.container_flights {
  max-width: 1300px;
  margin: 0 auto;
}

h1.container_flights {
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

h1 {
  width: 50%; /* задаем фиксированную ширину для блока */
  margin: 0 auto; /* устанавливаем отступы сверху и снизу равными 0, а отступы слева и справа автоматически вычисляются и делают блок по центру */
  text-align: center; /* выравниваем текст по центру блока */
  margin-top: 15px;
}

ul.container_flights {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  width: 100%;
  border-collapse: collapse;
}

li.container_flights {
  display: table-row;
}

li.container_flights > * {
  display: table-cell;
  border: 1px solid #ddd;
  padding: 10px;
}

