* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #F5F5F5;
  border-bottom: 1px solid #CCC;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 36px;
  margin: 0 0 10px;
}


/* Новый CSS */
form {
  display: inline-block;
  width: 100%;
  padding: 10px;
  margin: 0;
}

label, input {
  display: inline-block;
  width: 20%;
  margin: 0 5px;
}

label {
  text-align: right;
  font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 50%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #3e8e41;

}
button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}